@model UserModel
@{
	ViewData["Title"] = "Forgot Password";
}

<section>
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="signup-form">
					<!--sign up form-->
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<form asp-action="SendMailForgotPassword" asp-controller="Account">
						<label>Email:</label>
						<input asp-for="Email" placeholder="Nhập Địa Chỉ Email Để Lấy Lại Mật Khẩu" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
						<p><button type="submit" class="btn btn-primary">Gửi</button></p>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
