@model ResetPasswordViewModel

@{
	ViewData["Title"] = "New Password";
}

<section>
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="signup-form">
					<!--sign up form-->
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<form asp-action="UpdateNewPassword" method="post">
						<input type="hidden" asp-for="Email" />
						<input type="hidden" asp-for="Token" />

						<label>Mật Khẩu Mới:</label>
						<input asp-for="NewPassword" class="form-control" />
						<span asp-validation-for="NewPassword" class="text-danger"></span>
						<p><button type="submit" class="btn btn-primary">Đổi Mật Khẩu</button></p>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
