@{
    ViewData["Title"] = "Xác Thực Hai Bước";
}

<h2>Two-Factor Authentication (2FA)</h2>
<p>Please Open The Authenticator App And Enter The Authentication Code:</p>

<form method="POST" asp-action="Verify2FA">
    <div class="form-group">
        <label for="verificationCode">Authentication Code:</label>
        <input type="text" name="verificationCode" class="form-control" required />
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>