@{
    ViewData["Title"] = "Xác Thực Hai Bước";
}

<div class="container">
    <h4>Xác Thực Hai Bước (2FA)</h4>
    <p>Vui Lòng Mở Ứng Dụng Authenticator Và Nhập Mã Xác Thực:</p>

    <form method="POST" asp-action="Verify2FA">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label for="verificationCode">Mã Xác Thực:</label>
        <input type="text" name="verificationCode" class="form-control" required />
        <p><button type="submit" class="btn btn-primary">Xác Thực</button></p>
    </form>
    <p><a asp-controller="Account" asp-action="Reset2FA">Ấn Vào Đây Để Reset Xác Thực 2 Bước</a>.</p>
</div>