@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["title"] = "Add Role";
}

<form asp-action="Add" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" />
    </div>   

    <div class="form-group">
        <button class="btn btn-warning btn-sm">Add</button>
        <a asp-action="Index" asp-controller="Role" class="btn btn-warning btn-sm">Back</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}