@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["title"] = "Thêm Vai Trò";
}

<div class="">
    <form asp-action="Add" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label>Vai Trò</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>   

        <div class="form-group">
            <button class="btn btn-warning btn-sm">Thêm</button>
            <a asp-action="Index" asp-controller="Role" class="btn btn-warning btn-sm">Quay Lại</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}