@model SliderModel
@{
    ViewData["Title"] = "Edit Slider";
}

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" />
    </div>

    <div class="form-group">
        <label>Image</label>
        <input asp-for="ImageUpload" class="form-control" />
        <span asp-validation-for="ImageUpload" class="text-danger" />
        <img id="imgpreview" class="pt-2" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Status</label>
        <select asp-for="Status" class="form-control">
            <option value="1">Hiển Thị</option>
            <option value="0">Ẩn</option>
        </select>
        <span asp-validation-for="Status" class="text-danger" />
    </div>

    <div class="form-group">
        <button class="btn btn-warning btn-sm">Edit</button>
        <a asp-action="Index" class="btn btn-warning btn-sm">Back</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        CKEDITOR.replace('Description');
    </script>
    <script>
        $("#ImageUpload").change(function(){
            readURL(this);
        });
    </script>
}