@{
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <div class="container-fluid">
        <div class="col-md-12">
            <h5>Thống Kê Số Lượng</h5>
            <ul>
                <li>Tổng Đơn Hàng : @ViewBag.CountProduct</li>
                <li>Tổng Sản Phẩm : @ViewBag.CountProduct</li>
                <li>Tổng Danh Mục Sản Phẩm : @ViewBag.CountCategory</li>
                <li>Tổng Khách Hàng : @ViewBag.CountUser</li>
            </ul>
        </div>        
    </div>
</div>
@section Scripts {

    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>    
}
