@using WebsiteQuanLyBanHangOnline.Models.MoMo
@model MoMoInformationExecuteResponseModel

@{
    ViewData["Title"] = "Thanh Toán Thành Công Bằng MoMo";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Order Info</th>
            <th scope="col">Full Name</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.OrderId</td>
            <td>@Model.OrderInfo</td>
            <td>@Model.FullName</td>
            <td>@Model.Amount.ToString("#,##0 VNĐ")</td>
        </tr>
    </tbody>
</table>